* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'sans-serif';
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right img {
    padding-right: 26px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.img-logo {
    padding-right: 13px;
}

.header-form {
    padding-left: 39px;
    display: flex;
    align-items: center;
}

.header-form-button {
    width: 87px;
    height: 38px;

    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.header-form-button-text {
    padding-top: 10px;
    padding-left: 16px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.header-form-input {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: 317px;
    height: 38px;
}


.header-form-search {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 38px;
}

.navigation {
    background-color: #ffffff;
}

.button {
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    padding: 10px 15px;
    text-decoration: none;
}

.menu-link {
    display: block;
    padding: 20px 20px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    color: #f16d7f;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center
}

.promo {
    background-color: #e8e8e8;
    height: 613px;
}

.promo-content {
    background-image: url('img/promo.jpg');
    height: 100%;
    background-position: 0 -52px;
}

.promo-text {
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 19px;
}

.promo-h2 {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 19px;
}

.promo-h3 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 33px;
}

.pink {
    color: #f16d7f;
}

.category {
    padding-top: 98px;
    height: 882px;
}

.category-view {
    height: 100%;
}

.category-view a{
    text-decoration: none;
}

.category-block1 {
    background-image: url('img/photo1.jpg');
    width: 560px;
    height: 542px;
    background-color: #dadad2;
    float: left;
}

.category-block2 {
    background-image: url('img/photo2.jpg');
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    float: right;
}

.category-block3 {
    background-image: url('img/photo3.jpg');
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    float: left;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

.category-block4 {
    background-image: url('img/photo4.jpg');
    width: 560px;
    height: 542px;
    background-color: #dadad2;
    float: right;
    margin-top: 20px;

}

.category-block {
    display: inline-block;
    margin-top: 19px;
    padding: 19px 19px 19px 19px;
    background-color: #ffffff;
    width: auto;
    height: auto;
}

.category-title {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.category-title-pink {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

/*

1) Косяк с выравнием элементов и отступами между ними
 */


.fetures {
    display: flex;
    justify-content: center;
}


.fetures-info {
    padding-bottom: 40px;
}

.fetures-end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.fetures-title {
    display: flex;
    justify-content: center;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    padding-bottom: 10px;
}

.fetures-desc {
    display: flex;
    justify-content: center;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.fetures-items {
    padding-bottom: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    position: relative;
}

/*
Не работает отступ внизу между строками.
 */
.feture {
    max-height: 280px;
    width: 261px;
    padding-bottom: 80px;
}

.feture a {
    text-decoration: none;
}

.feture:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.feture:hover .feture-add-to-cart{
    display: block;
}

.feture:hover .feture-img{
    filter: brightness(50%);
}

.feture a:hover {
    background: #222222;
    opacity: 0.5;
}

.feture-img {
    height: 280px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feture-add-to-cart {
    padding-top: 15px;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 70px;
    top: 94px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: none;
}

.feture-text {
    padding-bottom: 15px;
    padding-left: 15px;
}

.feture-name {
    display: block;
    height: 28px;
    padding-top: 19px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.feture-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer {
    height: 529px;
    padding-bottom: 97px;
}

.offer-promo {
    width: 767px;
    float: left;
    height: 100%;
    background-color: #222224;
    background-image: url('img/offer.jpg');
}

.offer-promo-title {
    padding-left: 39px;
    padding-top: 146px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.offer-promo-title-span {
    font-size: 32px;
    letter-spacing: 0.9px;
}


.offer-desc {
    background-color: #222224;
    height: 529px;
}

.offer-block {
    height: 103px;
    width: 294px;
    padding-top: 48px;
    padding-left: 802px;
}

.offer-desc-img {

}

.offer-desc-title {
    text-align: center;
    padding-left: 33px;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.offer-desc-text {
    padding-left: 82px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}


.subscribe {
    background-image: url('img/subcribe.jpg');
    height: 438px;
    display: flex;
}

.reviews {
    padding-top: 111px;
}

.review-block {
    width: 497px;
    height: 126px;
    display: flex;
    align-items: center;
}

.review-block img {

}

.review-text {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
}

.review-author {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;

    font-weight: 700;
    letter-spacing: 0.4px;
}

.review-author-city {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}


.subscribe-block {
    display: block;
}

.subscribe-block input{
    border-radius: 23px;
    background-color: #e1e1e1;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    padding: 10px 15px;
    text-decoration: none;
}

.subscribe-block button {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
}

.subscribe-text-title {
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
}

.subscribe-text-span {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
}


.links {
    padding-left: 0px;
}

.blocks {
    display: flex;
    display: -moz-inline-stack;
    padding-top: 109px;
    max-height: 279px;
    padding-bottom: 89px;
}

.blocks h3 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    padding-bottom: 20px;
}

.blocks a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.block-info {
    width: 427px;
    display: block;
}

.block-links-1 {
    display: block;
    padding-left: 62px;
}

.block-links-1 a{
    display: block;
    margin-top: 10px;
}

.block-text {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    padding-top: 10px;
}


.footer {
    background-color: #e6e6e6;
    height: 79px;

}

.footer-left {
    padding-top: 24px;
    display: inline-block;
    text-align: justify;
    float: left;
}

.footer-right {
    padding-top: 24px;
    display: inline-block;
    float: right;
    clear: left;
}

.social {
    padding-right: 8px;
}

.footer-copyright {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}